header{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(240, 240, 240, 0.5);
}

header nav {
    color: #F0F0F0;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a{
    color: #F0F0F0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 1.5rem;
    font-size: 0.83rem;
}

